@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Grotesk Mono";
  src: url("../../public/DINAMO Trial Fonts/ABC Monument Grotesk Mono/ABCMonumentGroteskMono-Regular-Trial.otf");
}

html {
  font-family: "Monument Grotesk Mono";
}

body {
  background-color: black;
}
