@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Grotesk Mono";
  src: url("../../public/fonts/ABCMonumentGroteskMono/ABCMonumentGroteskMono-Regular-Trial.otf")
    format("opentype");
}

@font-face {
  font-family: "Whyte Book";
  src: url("../../public/fonts/Whyte/Whyte-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Whyte Medium";
  src: url("../../public/fonts/Whyte/Whyte-Medium.ttf") format("truetype");
}

html {
  font-family: "Whyte Book";
}

body {
  background-color: black;
  color: white;
}

* {
  /* outline: 1px white solid; */
}
